/* @author Matthew Chang */
/* CSDS 221: project 1 css portion */

/* global */
body {
    font-family: "Arial", sans-serif;
    font-size: 1.5em;
    background-color: #eee;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* global 2 for form elements */
.container {
    background-color: #fff;
    padding: 60px;
}

/* for the header at the top */
.well {
    color: #31708f;
    background-color: #d9edf7;
    border: none;
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
}

/* for the footer (submit and reset buttons) at the bottom */
#submit, #reset {
    width: auto;
    padding: 10px 40px 10px 40px;
    margin: 10px;
}





/* for panels */
.panel {
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* .panel-default is provided by bootstrap */

.panel-heading {
    background-color: #337ab7 !important;
    color: #fff !important;
    padding: 10px 15px 10px 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.panel-body {
    background-color: #f8f8f8;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}






/* for subpanels */
.form-group {
    margin-left: 0;
    margin-right: 0;
}

/* .control-label is provided by boostrap */

.form-control {
    border-radius: 0;
    border-color: #ddd;
    background-color: #eee;
}





/* interactive things */
/* .input-group is provided by bootstrap */

.input-group-addon {
    padding-right: 30px;
    border-color: #ddd;
    background-color: #eee;
}

.radio-inline input[type="radio"] {
    margin-top: 12;
}

.btn-reset {
    border-radius: 0;
    margin-right: 0;
    color: white;
    background-color: #337ab7;
}

.btn-submit {
    border-radius: 0;
    margin-right: 0;
    color: white;
    background-color: #36bd5d;
}

/* error field style (i.e., not filled out) */
.has-error .form-control {
    border-color: #b53c3a;
    box-shadow: none;
}




/* for better viewing purposes of the columns*/
.view [class*="col-"]:not(:first-child) {
    padding-left: 5px;
}

.view [class*="col-"]:not(:last-child) {
    padding-right: 5px;
}






/* styling for google chrome */
/* applies general settings across all range elements */
input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    margin: 16px 0px 16px 0px;
}

/* track */
input[type="range"]::-webkit-slider-runnable-track {
    background: #ffffff;
}

/* styling */
input[type="range"]::-webkit-slider-thumb {
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    background: #2b6fa0;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}










/* customized toastr notification settings */

/* positioning of toastr notifications*/
.toast-top-center {
    top: 12px;
    right: 50%;
    transform: translateX(50%);
}

/* error notification */
.toast-error {
    background-color: #da3530 !important;
}

/* successful notification */
.toast-success {
    background-color: rgb(11, 129, 11) !important;
}

/* reset notification*/
.toast-info {
    background-color: #2e94d8 !important;
}

